name: Build and Deploy MkDocs

on:
  push:
    branches:
      - master  # ändra till main om din branch heter så

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material pymdown-extensions

      - name: Build site
        run: mkdocs build

      - name: Upload artifact for Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: site   # detta är mappen MkDocs bygger till

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
